/* CSS Document */

#sider{
	width: 350px;
	background: rgba(0,0,0,.6) url(../../../data/img/realestajpg.jpg);
	background-size: cover;	
	position: fixed;
}

#main{
	position: absolute;
	left: 350px;
}

#main > *{
	margin: auto 20px;
	width: 900px;
}

#head{
	margin-top: 30px;
	width: 500px;	
}

#head ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

#head ul li{
	cursor: pointer;
	display: inline-block;
	padding: 5px;		
	border-bottom: 2px solid rgba(204,204,204,1);
	color: rgba(102,102,102,1);
}

#head ul li:hover{
	color: blue;	
	border-color:  blue;
}

#head ul li.active{
	border: none;
	color: black;
	font-weight: bold;
}

#head ul li.active:hover{
	color: rgba(255,0,0,1);	
}


article.post{
	position: relative;
	padding-bottom: 30px;
	border-bottom: 1px solid rgba(204,204,204,1);
	cursor: pointer;
	padding: 20px 0 40px 0;
}

article.post .propimg{
	width: 200px;
	margin-right: 10px;
	display: inline-block;
}

article.post .cholder{
	display: inline-block;
	width: 75%;
	vertical-align: top;
}

article.post .head {
margin-top: 0;
}

article.post h1 address{
  font-size:24px;	
}

article.post .cost {
	position: absolute;
	font-weight: bold;
	right: 0;
	top: 20px;	
}

article.post .options{
	position: relative;
}

article.post .commentf{
	display: none;
}

article.post .commentf .fmessage{
	width: 100%;
	height: 50px;
}

article.post .options input[type="submit"], article.post .options input[type="button"] {
	outline: none;
	border: none;
	background:url(../../../static/pic/com.png) no-repeat;
	background-size: contain;
	background-origin:border-box;
	width: 130px;
	background-position: right;
	color: rgba(153,153,153,1);
	
	/*
	background:rgba(0,0,255,1);
	box-shadow: 0 0 5px black;
	*/
	font-weight: bold;
	cursor: pointer;
	text-align: left;
	position: absolute;
	right: 0;
}

article.post a{
	color: #999;
	text-decoration:underline;	
}

article.post [id^='ucom']{
	padding: 10px 0;	
}

article.post [id^='ucom'] .ptime {
position: absolute;
right: 0;
color: #999;
}

article.post .commenters h3{
	margin: 5px auto;	
}

article.post .commenters .profile_link .profile_pic{
	width: 30px;
	float: left;
	margin-right: 10px;
	border-radius: 10px;
	box-shadow: 0 0 5px #444;
}

article.post .commenters .message{
	margin-left: 40px;	
}


article.post .options input.share{
	background: #09f;
	box-shadow: 0 0 5px #777;	
	color: white !important;
	text-transform:uppercase;
	padding: 5px;
	text-align: center;
}

